<div class="parent-container flow-bottom">
  <div>
    <p-card>
      <div class="parent-header header-flex-container">
        <h1>Create new deposit</h1>
        <div class="button-group">
          <button
            pButton
            pRipple
            type="button"
            label="Cancel"
            class="p-button-outlined p-button-danger"
          ></button>
          <button
            pButton
            pRipple
            type="button"
            label="Submit for approval"
            class="p-button-outlined p-button-success"
          ></button>
        </div>
      </div>
    </p-card>
  </div>

  <div>
    <p-card>
      <div class="cta-container">
        <form
          *ngIf="addNewDepositForm"
          [formGroup]="addNewDepositForm"
          id="my-form"
          (ngSubmit)="onSubmitDepositForm()"
        >
          <div class="calendar-wrapper">
            <h3 class="title-header">Date Deposited to Bank Account</h3>
            <p-calendar
              formControlName="date"
              [showIcon]="true"
              inputId="icon"
            ></p-calendar>
          </div>
          <div class="currency-wrapper">
            <h3 class="title-header">Currency</h3>
            <p-dropdown
              [options]="currencies"
              formControlName="currency"
              optionLabel="name"
              [filter]="true"
              filterBy="name"
              [showClear]="true"
              placeholder="Select currency"
            >
            </p-dropdown>
          </div>
          <div class="deposit-type-wrapper">
            <h3 class="title-header">Deposit Type</h3>
            <p-dropdown
              autoWidth="false"
              [options]="banks"
              formControlName="depositType"
              optionLabel="name"
              [filter]="true"
              filterBy="name"
              [showClear]="true"
              placeholder="Select a bank"
            >
            </p-dropdown>
          </div>
          <div class="bank-acc-code-wrapper">
            <h3 class="title-header">DragonFi Bank Account Code</h3>
            <input
              id="disabled-input"
              type="text"
              pInputText
              [disabled]="true"
              [value]="addNewDepositForm?.value?.depositType?.code"
            />
          </div>
          <div class="bank-reference-wrapper">
            <h3 class="title-header">DragonFi Bank Reference No.</h3>
            <input
              type="text"
              pInputText
              formControlName="dfBankReferenceNumber"
            />
          </div>
        </form>
      </div>
    </p-card>
  </div>

  <div>
    <p-card>
      <div class="table-container">
        <div class="table-cta-container header-flex-container">
          <h1>deposits (0)</h1>
          <button>add new deposit</button>
        </div>
        <table>
          place table here
        </table>
      </div>
    </p-card>
  </div>

  <div>
    <p-card>
      <div class="total-amount-container">
        <h1>PHP 20,000</h1>
        <p>Total Amount Deposited</p>
      </div>
    </p-card>
  </div>

  <div>
    <p-card>
      <div class="status-history-container">
        <h1>Status History</h1>
        <div>
          <h3>note</h3>
          <textarea name="" id="" cols="30" rows="10"></textarea>
          <p>upload file</p>
        </div>
      </div>
    </p-card>
  </div>
</div>
<app-child-one></app-child-one>
<app-child-two></app-child-two>
<app-child-three></app-child-three>
